/* Nạp font chữ cao cấp từ Google Fonts */
@import url('https://googleapis.com');

/* Cách nạp Tailwind v4 chuẩn chỉnh */
@import "tailwindcss";

/* Cấu hình màu sắc hệ thống ngay trong CSS Theme của v4 */
@theme {
  --color-brand-orange: #FF7518;
  --color-brand-orangeHover: #E6640F;
  --color-brand-greenDark: #06331A;
  --color-brand-greenLight: #0A4D27;
  --color-brand-bgGray: #F8F9FA;

  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-brand-bgGray);
}